html{
	webkit-text-size-adjust: auto;
}

/*div{
	border: 1px solid red;
}*/

ul li {
    /* 
     * We want the bullets outside of the list,
     * so the text is aligned. Now the actual bullet
     * is outside of the list’s container
     */
    list-style-position: outside;

    /*
     * Because the bullet is outside of the list’s
     * container, indent the list entirely [thank you stackoverflow]
     */
    margin-left: 1em;
}

body{
	color: rgb(102,102,102);
}

.main{
	margin: 7% auto 0 auto;
	text-align: center;
}

#name{
	color: rgb(51,51,51);
	letter-spacing: 0.5;
	margin-bottom: 0;
}

#skills{
	/*width: 400px;*/
	text-align: left;
}

#skills p{
	margin-bottom: 0;
}

#skills .title{
	margin-top: 1rem;
	margin-left: 6rem;
}

#skills .item{
	margin: 0.5rem 1rem;
	font-size: 1.5rem;
}

.school{
	text-align: left;
}

#local{
	/*margin-bottom: -10;*/
}
.work{
	margin-top: 2em;
	margin-bottom: 0;
}
.about{
	margin-left: auto;
	margin-right: auto;
}
#about{
	text-align: left;
	color: rgb(102,102,102);
	/*width: 400px;*/
}

#pic{
	margin-left: auto;
	margin-right: auto;
	width: 128px;
	height: 128px;
	border: solid 3px rgb(102, 102, 102);
	border-radius: 100%;
	margin-top: -15;
	margin-bottom: 15;
	background-image: url(../images/VFfJuFub.jpg);
	background-size: 128px 128px;
}

/*hr{
	width: 60%;

}*/

a{
	text-decoration: none;
}

#social{
	margin-top: 3em;
  	padding: 0;
}

#social li{
	list-style: none;
	margin: 0 0.5em;
	display: inline-block;

}

span{
	margin-bottom: -10rem;
}

.fa{
	font-size: 2rem;
	margin-right: .5rem;
}

h6{
	align-items: center;
}

@media (min-width: 750px) {

	hr{
	width: 60%;
}

	.about{
		width: 55%;
	}
	#skills{
		margin-left: auto;
		margin-right: auto;
		width: 55%;
	}
}